include mark

mixin slide(num='./img/four_benefits/slider/1/num.svg', title='Востребованный бизнес', description='По статистике, 90% детей нуждаются в помощи специалистов: 10 детей из 30 посещают занятия.', paragraph='Количество обращений родителей к коррекционным специалистам растет год от года. На это влияют экология, хронические заболевания, стресс, увеличение нагрузки и развитие технологий. Важно отметить, что и родители стали более осведомлены о проблемах, связанных с развитием детей и стремятся обратиться к специалистам на ранних стадиях, осознавая значимость речевых навыков для успешного развития и адаптации ребенка в социуме.', img='./img/four_benefits/slider/1/img.png', marks=[], hstyle='')
   .slide
      .slide__container
         img(src=num, alt="" + title width=80 height=80)
         if(title)
            h3 #{title}
         if(description)
            h4 #{description}
         if(paragraph)
            h5(style=hstyle) #{paragraph}
         each mark in marks
            +mark('', mark)
      img(src=img, alt="" + title loading='lazy').img